@media (min-width: 1280px) {

  .row{
    width: 1280px;
  }

}

@media (max-width: 887px) {

  $size: s;
  $columns: 6;
  $gutter: 4.5%;

  @include column_size(
    $size,
    $columns,
    $gutter
  );
}

@media (min-width: 888px ) and ( max-width: 1183px) {
  $size: m;
  $columns: 12;
  $gutter: 1.689%;

  @include column_size(
    $size,
    $columns,
    $gutter
  );
  
}

@media (min-width: 1184px ) {
  
  $size: xl;
  $columns: 16;
  $gutter: 1.689%;

  @include column_size(
    $size,
    $columns,
    $gutter
  );
}
