@mixin column_size(
  $size,
  $columns,
  $gutter
  ){

  @include generate_grid($size, $columns, $gutter);

  // Hide classes for different view ports.
  @if $size == s {
    .hide-gte-s, .hide-lte-xl, .hide-lte-m, .hide-lte-s{
      display: none !important;
    } 
  } @else if $size == m{
    .hide-gte-m, .hide-lte-m, .hide-gte-s, .hide-lte-xl, {
      display: none !important;
    }
  } @else if $size == xl{
    .hide-gte-xl, .hide-lte-xl, .hide-gte-m, .hide-gte-s{
      display: none !important;
    }
  }
}

@mixin generate_grid(
    $size: xl,
    $columns: 16,
    $gutter: 1.689%
  ){

  $width: 100%;
  $outer_gutter_width: 3%;
  $column_width: $width/$columns;
  $container_name: ".container";

  .row{
    width: 100%;
    float: left;
  }

  .nest{
    width: 100%;
    float: left;
  }

  .resume_grid{
    width: 100%;
  }

  #{$container_name} {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    padding-left: $outer_gutter_width;
    padding-right: $outer_gutter_width;
  }
 
  @for $i from 1 through $columns{

    .col-#{$i}, .col-#{$i}-#{$size} {
      display: inline;
      float: left;
      margin-left: 0px;
      margin-right: $gutter;

      #{$container_name} &{
        width: $i * $column_width - $gutter;

        &:last-child{
          margin-right: 0px;
          width: $i * $column_width;
        }
      }
    }

    .indent-#{$i}, .indent-#{$i}-#{$size} {
      position: relative;
      #{$container_name} &{
        left: $i * $column_width;
      }
    }
    
  }
}