@media (max-width: 887px) {
  .row {
    width: 100%;
    float: left; }

  .nest {
    width: 100%;
    float: left; }

  .resume_grid {
    width: 100%; }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%; }

  .col-1, .col-1-s {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 4.5%; }
    .container .col-1, .container .col-1-s {
      width: 12.16667%; }
      .container .col-1:last-child, .container .col-1-s:last-child {
        margin-right: 0px;
        width: 16.66667%; }

  .indent-1, .indent-1-s {
    position: relative; }
    .container .indent-1, .container .indent-1-s {
      left: 16.66667%; }

  .col-2, .col-2-s {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 4.5%; }
    .container .col-2, .container .col-2-s {
      width: 28.83333%; }
      .container .col-2:last-child, .container .col-2-s:last-child {
        margin-right: 0px;
        width: 33.33333%; }

  .indent-2, .indent-2-s {
    position: relative; }
    .container .indent-2, .container .indent-2-s {
      left: 33.33333%; }

  .col-3, .col-3-s {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 4.5%; }
    .container .col-3, .container .col-3-s {
      width: 45.5%; }
      .container .col-3:last-child, .container .col-3-s:last-child {
        margin-right: 0px;
        width: 50%; }

  .indent-3, .indent-3-s {
    position: relative; }
    .container .indent-3, .container .indent-3-s {
      left: 50%; }

  .col-4, .col-4-s {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 4.5%; }
    .container .col-4, .container .col-4-s {
      width: 62.16667%; }
      .container .col-4:last-child, .container .col-4-s:last-child {
        margin-right: 0px;
        width: 66.66667%; }

  .indent-4, .indent-4-s {
    position: relative; }
    .container .indent-4, .container .indent-4-s {
      left: 66.66667%; }

  .col-5, .col-5-s {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 4.5%; }
    .container .col-5, .container .col-5-s {
      width: 78.83333%; }
      .container .col-5:last-child, .container .col-5-s:last-child {
        margin-right: 0px;
        width: 83.33333%; }

  .indent-5, .indent-5-s {
    position: relative; }
    .container .indent-5, .container .indent-5-s {
      left: 83.33333%; }

  .col-6, .col-6-s {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 4.5%; }
    .container .col-6, .container .col-6-s {
      width: 95.5%; }
      .container .col-6:last-child, .container .col-6-s:last-child {
        margin-right: 0px;
        width: 100%; }

  .indent-6, .indent-6-s {
    position: relative; }
    .container .indent-6, .container .indent-6-s {
      left: 100%; }

  .hide-gte-s, .hide-lte-xl, .hide-lte-m, .hide-lte-s {
    display: none !important; } }
@media (min-width: 888px) and (max-width: 1183px) {
  .row {
    width: 100%;
    float: left; }

  .nest {
    width: 100%;
    float: left; }

  .resume_grid {
    width: 100%; }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%; }

  .col-1, .col-1-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-1, .container .col-1-m {
      width: 6.64433%; }
      .container .col-1:last-child, .container .col-1-m:last-child {
        margin-right: 0px;
        width: 8.33333%; }

  .indent-1, .indent-1-m {
    position: relative; }
    .container .indent-1, .container .indent-1-m {
      left: 8.33333%; }

  .col-2, .col-2-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-2, .container .col-2-m {
      width: 14.97767%; }
      .container .col-2:last-child, .container .col-2-m:last-child {
        margin-right: 0px;
        width: 16.66667%; }

  .indent-2, .indent-2-m {
    position: relative; }
    .container .indent-2, .container .indent-2-m {
      left: 16.66667%; }

  .col-3, .col-3-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-3, .container .col-3-m {
      width: 23.311%; }
      .container .col-3:last-child, .container .col-3-m:last-child {
        margin-right: 0px;
        width: 25%; }

  .indent-3, .indent-3-m {
    position: relative; }
    .container .indent-3, .container .indent-3-m {
      left: 25%; }

  .col-4, .col-4-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-4, .container .col-4-m {
      width: 31.64433%; }
      .container .col-4:last-child, .container .col-4-m:last-child {
        margin-right: 0px;
        width: 33.33333%; }

  .indent-4, .indent-4-m {
    position: relative; }
    .container .indent-4, .container .indent-4-m {
      left: 33.33333%; }

  .col-5, .col-5-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-5, .container .col-5-m {
      width: 39.97767%; }
      .container .col-5:last-child, .container .col-5-m:last-child {
        margin-right: 0px;
        width: 41.66667%; }

  .indent-5, .indent-5-m {
    position: relative; }
    .container .indent-5, .container .indent-5-m {
      left: 41.66667%; }

  .col-6, .col-6-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-6, .container .col-6-m {
      width: 48.311%; }
      .container .col-6:last-child, .container .col-6-m:last-child {
        margin-right: 0px;
        width: 50%; }

  .indent-6, .indent-6-m {
    position: relative; }
    .container .indent-6, .container .indent-6-m {
      left: 50%; }

  .col-7, .col-7-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-7, .container .col-7-m {
      width: 56.64433%; }
      .container .col-7:last-child, .container .col-7-m:last-child {
        margin-right: 0px;
        width: 58.33333%; }

  .indent-7, .indent-7-m {
    position: relative; }
    .container .indent-7, .container .indent-7-m {
      left: 58.33333%; }

  .col-8, .col-8-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-8, .container .col-8-m {
      width: 64.97767%; }
      .container .col-8:last-child, .container .col-8-m:last-child {
        margin-right: 0px;
        width: 66.66667%; }

  .indent-8, .indent-8-m {
    position: relative; }
    .container .indent-8, .container .indent-8-m {
      left: 66.66667%; }

  .col-9, .col-9-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-9, .container .col-9-m {
      width: 73.311%; }
      .container .col-9:last-child, .container .col-9-m:last-child {
        margin-right: 0px;
        width: 75%; }

  .indent-9, .indent-9-m {
    position: relative; }
    .container .indent-9, .container .indent-9-m {
      left: 75%; }

  .col-10, .col-10-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-10, .container .col-10-m {
      width: 81.64433%; }
      .container .col-10:last-child, .container .col-10-m:last-child {
        margin-right: 0px;
        width: 83.33333%; }

  .indent-10, .indent-10-m {
    position: relative; }
    .container .indent-10, .container .indent-10-m {
      left: 83.33333%; }

  .col-11, .col-11-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-11, .container .col-11-m {
      width: 89.97767%; }
      .container .col-11:last-child, .container .col-11-m:last-child {
        margin-right: 0px;
        width: 91.66667%; }

  .indent-11, .indent-11-m {
    position: relative; }
    .container .indent-11, .container .indent-11-m {
      left: 91.66667%; }

  .col-12, .col-12-m {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-12, .container .col-12-m {
      width: 98.311%; }
      .container .col-12:last-child, .container .col-12-m:last-child {
        margin-right: 0px;
        width: 100%; }

  .indent-12, .indent-12-m {
    position: relative; }
    .container .indent-12, .container .indent-12-m {
      left: 100%; }

  .hide-gte-m, .hide-lte-m, .hide-gte-s, .hide-lte-xl {
    display: none !important; } }
@media (min-width: 1184px) {
  .row {
    width: 100%;
    float: left; }

  .nest {
    width: 100%;
    float: left; }

  .resume_grid {
    width: 100%; }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%; }

  .col-1, .col-1-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-1, .container .col-1-xl {
      width: 4.561%; }
      .container .col-1:last-child, .container .col-1-xl:last-child {
        margin-right: 0px;
        width: 6.25%; }

  .indent-1, .indent-1-xl {
    position: relative; }
    .container .indent-1, .container .indent-1-xl {
      left: 6.25%; }

  .col-2, .col-2-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-2, .container .col-2-xl {
      width: 10.811%; }
      .container .col-2:last-child, .container .col-2-xl:last-child {
        margin-right: 0px;
        width: 12.5%; }

  .indent-2, .indent-2-xl {
    position: relative; }
    .container .indent-2, .container .indent-2-xl {
      left: 12.5%; }

  .col-3, .col-3-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-3, .container .col-3-xl {
      width: 17.061%; }
      .container .col-3:last-child, .container .col-3-xl:last-child {
        margin-right: 0px;
        width: 18.75%; }

  .indent-3, .indent-3-xl {
    position: relative; }
    .container .indent-3, .container .indent-3-xl {
      left: 18.75%; }

  .col-4, .col-4-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-4, .container .col-4-xl {
      width: 23.311%; }
      .container .col-4:last-child, .container .col-4-xl:last-child {
        margin-right: 0px;
        width: 25%; }

  .indent-4, .indent-4-xl {
    position: relative; }
    .container .indent-4, .container .indent-4-xl {
      left: 25%; }

  .col-5, .col-5-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-5, .container .col-5-xl {
      width: 29.561%; }
      .container .col-5:last-child, .container .col-5-xl:last-child {
        margin-right: 0px;
        width: 31.25%; }

  .indent-5, .indent-5-xl {
    position: relative; }
    .container .indent-5, .container .indent-5-xl {
      left: 31.25%; }

  .col-6, .col-6-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-6, .container .col-6-xl {
      width: 35.811%; }
      .container .col-6:last-child, .container .col-6-xl:last-child {
        margin-right: 0px;
        width: 37.5%; }

  .indent-6, .indent-6-xl {
    position: relative; }
    .container .indent-6, .container .indent-6-xl {
      left: 37.5%; }

  .col-7, .col-7-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-7, .container .col-7-xl {
      width: 42.061%; }
      .container .col-7:last-child, .container .col-7-xl:last-child {
        margin-right: 0px;
        width: 43.75%; }

  .indent-7, .indent-7-xl {
    position: relative; }
    .container .indent-7, .container .indent-7-xl {
      left: 43.75%; }

  .col-8, .col-8-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-8, .container .col-8-xl {
      width: 48.311%; }
      .container .col-8:last-child, .container .col-8-xl:last-child {
        margin-right: 0px;
        width: 50%; }

  .indent-8, .indent-8-xl {
    position: relative; }
    .container .indent-8, .container .indent-8-xl {
      left: 50%; }

  .col-9, .col-9-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-9, .container .col-9-xl {
      width: 54.561%; }
      .container .col-9:last-child, .container .col-9-xl:last-child {
        margin-right: 0px;
        width: 56.25%; }

  .indent-9, .indent-9-xl {
    position: relative; }
    .container .indent-9, .container .indent-9-xl {
      left: 56.25%; }

  .col-10, .col-10-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-10, .container .col-10-xl {
      width: 60.811%; }
      .container .col-10:last-child, .container .col-10-xl:last-child {
        margin-right: 0px;
        width: 62.5%; }

  .indent-10, .indent-10-xl {
    position: relative; }
    .container .indent-10, .container .indent-10-xl {
      left: 62.5%; }

  .col-11, .col-11-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-11, .container .col-11-xl {
      width: 67.061%; }
      .container .col-11:last-child, .container .col-11-xl:last-child {
        margin-right: 0px;
        width: 68.75%; }

  .indent-11, .indent-11-xl {
    position: relative; }
    .container .indent-11, .container .indent-11-xl {
      left: 68.75%; }

  .col-12, .col-12-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-12, .container .col-12-xl {
      width: 73.311%; }
      .container .col-12:last-child, .container .col-12-xl:last-child {
        margin-right: 0px;
        width: 75%; }

  .indent-12, .indent-12-xl {
    position: relative; }
    .container .indent-12, .container .indent-12-xl {
      left: 75%; }

  .col-13, .col-13-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-13, .container .col-13-xl {
      width: 79.561%; }
      .container .col-13:last-child, .container .col-13-xl:last-child {
        margin-right: 0px;
        width: 81.25%; }

  .indent-13, .indent-13-xl {
    position: relative; }
    .container .indent-13, .container .indent-13-xl {
      left: 81.25%; }

  .col-14, .col-14-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-14, .container .col-14-xl {
      width: 85.811%; }
      .container .col-14:last-child, .container .col-14-xl:last-child {
        margin-right: 0px;
        width: 87.5%; }

  .indent-14, .indent-14-xl {
    position: relative; }
    .container .indent-14, .container .indent-14-xl {
      left: 87.5%; }

  .col-15, .col-15-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-15, .container .col-15-xl {
      width: 92.061%; }
      .container .col-15:last-child, .container .col-15-xl:last-child {
        margin-right: 0px;
        width: 93.75%; }

  .indent-15, .indent-15-xl {
    position: relative; }
    .container .indent-15, .container .indent-15-xl {
      left: 93.75%; }

  .col-16, .col-16-xl {
    display: inline;
    float: left;
    margin-left: 0px;
    margin-right: 1.689%; }
    .container .col-16, .container .col-16-xl {
      width: 98.311%; }
      .container .col-16:last-child, .container .col-16-xl:last-child {
        margin-right: 0px;
        width: 100%; }

  .indent-16, .indent-16-xl {
    position: relative; }
    .container .indent-16, .container .indent-16-xl {
      left: 100%; }

  .hide-gte-xl, .hide-lte-xl, .hide-gte-m, .hide-gte-s {
    display: none !important; } }
@media (min-width: 1280px) {
  .container {
    width: 1214px;
    padding-left: 32px;
    padding-right: 32px;
    margin: auto; } }
.pad {
  padding: 10px; }

.padkids > * {
  padding: 10px; }

.f1over2 {
  float: left;
  width: 50%; }

.f1over3 {
  float: left;
  width: 33.33333%; }

.f1over4 {
  float: left;
  width: 25%; }

.f1over5 {
  float: left;
  width: 20%; }

.f1over6 {
  float: left;
  width: 16.66667%; }

.f1over7 {
  float: left;
  width: 14.28571%; }

.f1over8 {
  float: left;
  width: 12.5%; }

.f1over9 {
  float: left;
  width: 11.11111%; }

.f1over10 {
  float: left;
  width: 10%; }

.f2over3 {
  float: left;
  width: 66.66667%; }

.f2over4 {
  float: left;
  width: 50%; }

.f2over5 {
  float: left;
  width: 40%; }

.f2over6 {
  float: left;
  width: 33.33333%; }

.f2over7 {
  float: left;
  width: 28.57143%; }

.f2over8 {
  float: left;
  width: 25%; }

.f2over9 {
  float: left;
  width: 22.22222%; }

.f2over10 {
  float: left;
  width: 20%; }

.f3over4 {
  float: left;
  width: 75%; }

.f3over5 {
  float: left;
  width: 60%; }

.f3over6 {
  float: left;
  width: 50%; }

.f3over7 {
  float: left;
  width: 42.85714%; }

.f3over8 {
  float: left;
  width: 37.5%; }

.f3over9 {
  float: left;
  width: 33.33333%; }

.f3over10 {
  float: left;
  width: 30%; }

.f4over5 {
  float: left;
  width: 80%; }

.f4over6 {
  float: left;
  width: 66.66667%; }

.f4over7 {
  float: left;
  width: 57.14286%; }

.f4over8 {
  float: left;
  width: 50%; }

.f4over9 {
  float: left;
  width: 44.44444%; }

.f4over10 {
  float: left;
  width: 40%; }

.f5over6 {
  float: left;
  width: 83.33333%; }

.f5over7 {
  float: left;
  width: 71.42857%; }

.f5over8 {
  float: left;
  width: 62.5%; }

.f5over9 {
  float: left;
  width: 55.55556%; }

.f5over10 {
  float: left;
  width: 50%; }

.f6over7 {
  float: left;
  width: 85.71429%; }

.f6over8 {
  float: left;
  width: 75%; }

.f6over9 {
  float: left;
  width: 66.66667%; }

.f6over10 {
  float: left;
  width: 60%; }

.f7over8 {
  float: left;
  width: 87.5%; }

.f7over9 {
  float: left;
  width: 77.77778%; }

.f7over10 {
  float: left;
  width: 70%; }

.f8over9 {
  float: left;
  width: 88.88889%; }

.f8over10 {
  float: left;
  width: 80%; }

.f9over10 {
  float: left;
  width: 90%; }

/*# sourceMappingURL=main.css.map */
